*{
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #deb887;
}

.header {
  border-bottom: 3px solid #FBFCF6;
  margin: 0px 0px 0px 0px;
  background-color: rgb(15, 14, 14);

}

.nav {
/* position: fixed; */
width: 100%;
height: 84px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #7D7D7D;
transition: all .4s ease-in-out;
z-index: 2;
}

.header .container  {

width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.header .container ul {

width: 400px;
list-style: none;
display: flex;
justify-content: space-between;
color: rgb(224, 224, 224)    ; }

#header .nav ul {
    list-style: none;
    display: flex;
    padding-right: 60px;
}

#header .nav ul li {
    font-size: 1rem;
    font-weight: 500;
    color: #FFC745;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #3ca9c2, #3ca9c2 50%, #313131 50%);
    background-size: 200% 100%;
    background-position: 100%;
    
    
    transition: all .4s ease-in-out;
    margin: 0 20px;
}



.header a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    text-shadow: 0 0 10px whitesmoke;
             

   }
   #header .nav img {
    margin: 12px 0 0 80px;
    height: 80px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}
   
   

#gameboard {
   width: 320px;
   height: 320px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding-left: 510px;
   padding-top: 62px;
  margin-bottom: 66px;
    
}

.casa {

  width: 40px;
  height: 40px;
  position: relative;


}
.bege {

    background-color: rgb(110, 110, 98);
}

.marrom {

    background-color: rgb(169, 43, 43);
}

.casa svg {

  height: 30px;   
  width: 30px;  
  margin: 5px;
  position: relative;
  z-index: -9;
}

path {
    position: relative;
    z-index: -10;

}

.peça {
  position: relative;
  z-index: 9;
}

.black {
  fill: rgb(29, 29, 29)
}

.white {
  fill: rgb(223, 216, 216)
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #1e1e1e;
}
.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}