#gameboard {
   width: 320px;
   height: 320px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
    
}

.casa {

  width: 40px;
  height: 40px;


}
.bege {

    background-color: rgb(110, 110, 98);
}

.marrom {

    background-color: rgb(169, 43, 43);
}

.casa svg {

  height: 30px;   
  width: 30px;  
  margin: 5px;

}

.black {
  fill: rgb(29, 29, 29)
}

.white {
  fill: rgb(223, 216, 216)
}