.header {
  border-bottom: 3px solid #FBFCF6;
  margin: 0px 0px 0px 0px;
  background-color: rgb(15, 14, 14);

}

.nav {
position: fixed;
width: 100%;
height: 84px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #9c9c9c;
transition: all .4s ease-in-out;
z-index: 2;
}

.header .container  {

width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.header .container ul {

width: 400px;
list-style: none;
display: flex;
justify-content: space-between;
color: rgba(224, 224, 224, 0.781)    ; }

#header .nav ul {
    list-style: none;
    display: flex;
    padding-right: 60px;
}

#header .nav ul li {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #3ca9c2, #3ca9c2 50%, #313131 50%);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease-in-out;
    margin: 0 20px;
}



.header a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    text-shadow: 0 0 10px whitesmoke;
             

   }
   #header .nav img {
    margin: 12px 0 0 80px;
    height: 80px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}
   
   
   .header h1 {
   
       color: #f1eadf;
   
   }

   body {
    background-color: #1A1A1A;
   }




#gameboard {
   width: 320px;
   height: 320px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
  
  padding-left: 484px;
  padding-top: 162px;
   
    
}

.casa {

  width: 40px;
  height: 40px;
  position: relative;


}
.bege {

    background-color: rgb(110, 110, 98);
}

.marrom {

    background-color: rgb(169, 43, 43);
}

.casa svg {

  height: 30px;   
  width: 30px;  
  margin: 5px;
  position: relative;
  z-index: -9;
}

path {
    position: relative;
    z-index: -10;

}

.peça {
  position: relative;
  z-index: 9;
}

.black {
  fill: rgb(29, 29, 29)
}

.white {
  fill: rgb(223, 216, 216)
}